/*page effect*/

* {
  animation: fx 0.8s !important;
  /*generic*/
  -moz-animation: fx 0.8s !important;
  /* Firefox */
  -webkit-animation: fx 0.8s !important;
  /* Safari and Chrome */
  -o-animation: fx 0.8s !important;
  /* Opera */
}

@keyframes fx {
 /*generic*/
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fx {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fx {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fx {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*gpu accelerated*/

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  /*overflow-x: hidden;*/
}

/*double-enhancer*/
/* ( default + luminosity ) = overlay */

img,
video,
embed {
  -webkit-filter: saturate(1.36) contrast(1.15) brightness(1) blur(0px);
  mix-blend-mode: default;
}

img::before,
video::before,
embed::before {
  -webkit-filter: saturate(1.36) contrast(1.15) brightness(1.01) blur(0px);
  mix-blend-mode: luminosity;
}

img::after,
video::after,
embed::after {
  -webkit-filter: saturate(1.36) contrast(1.2) brightness(1.01) blur(0px);
  mix-blend-mode: overlay;
}


/*slimming scrollbar*/

@media (max-width: 683px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(168, 168, 168, 0.25);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(168, 168, 168, 1);
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(24, 24, 24, 1);
  }
}

@media (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(168, 168, 168, 0.25);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(168, 168, 168, 1);
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(24, 24, 24, 1);
  }
}

@media (max-width: 960px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(168, 168, 168, 0.25);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(168, 168, 168, 1);
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(24, 24, 24, 1);
  }
}

@media (max-width: 960px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(168, 168, 168, 0.25);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(168, 168, 168, 1);
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(24, 24, 24, 1);
  }
}

@media (max-width: 1280px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(168, 168, 168, 0.25);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(168, 168, 168, 1);
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(24, 24, 24, 1);
  }
}
