label,
input {
  display: block;
}

* {
  font-family: Verdana, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  -webkit-app-region: drag;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  background: #3b3b3b;
}

.login-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form> div {
  margin-bottom: 30px;
}

.login-form> div> label {
  margin-bottom: 25px;
  letter-spacing: 15px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.login-form> div> input {
  height: 30px;
  width: 225px;
  font-size: 20px;
  border-radius: 30px;
  color: #262626;
  border: 5px solid #464545;
  padding: 5px 10px 5px 10px;
  -webkit-app-region: no-drag;
  transition-timing-function: ease-in;
  transition: 0.2s;
  transform: translateY(5%);
}

.login-form> div> input:hover {
  border: 5px solid #fff;
  transition-timing-function: ease-out;
  transition: 0.25s;
  transform: translateY(0);
}

.login-form> div> button {
  border: 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  height: 40px;
  width: 250px;
  background-color: #292929;
  color: white;
  border-radius: 30px;
  -webkit-app-region: no-drag;
  transition-timing-function: ease-in;
  transition: 0.2s;
  transform: translateY(5%);
}

.login-form> div> button:hover {
  background-color: #2196F3;
  transition-timing-function: ease-out;
  transition: 0.25s;
  transform: translateY(0);
}
